rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write their own profile data.
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;

      // Users can create, read, and delete their own songs.
      match /songs/{songId} {
        allow read, create, delete: if request.auth.uid == userId;
      }
    }
  }
}
